*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to avoid overflows*/


}

nav{
	background-color: lightyellow;
	height: 100%;
	width: 200px;
	position: fixed;
}
main{

	background-color: lightgrey;
	margin-left: 200px;
}

.banner{

	background-color: skyblue;
	height: 700px;
	
	position: relative;

}
.about{
	background-color: indianred;
	min-height: 300px;



}

.services{
	background-color: midnightblue;
	min-height: 300px; /*(minimum height for template)*/
	color: #fff;
}

.projects{
	background-color: crimson;
	min-height: 300px;

}

.gallery{
	background-color: orange;
	min-height: 400px;

}

footer{

	background-color: green;
	min-height: 50px;
}

nav,
.banner,
.about,
.services,
.projects,
.gallery,
footer{
	padding: 30px;

}

.logo{
	width: 140px;
	height: 140px;
	background-color: grey;	
	margin: 0 auto; /*centers the elements*/
	margin-bottom: 30px;

}

ul > li{

	list-style: none;
	background-color: lightblue;
	margin-bottom: 5px;
	line-height: 40px;
	text-align: center;
}

ul > li > a {
	text-decoration: none;
	font-size: 20px;

}

.box{
	border: 5px solid #fff;
	text-align: center;
	width: 40%;
	/*margin: 0 auto;*/
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  /*remove excess pixels/ manipulate position*/
}

.column{
	border: 1px solid white;
	width: 31%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px;
}

.clear:after{
	content: "";
	display: block;
	clear: both;

}

img[alt*="Service"]{
	border: 1px solid #fff;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin-right: 10px;


}

img[alt*="Service"] ~ h3{
	margin-bottom: 10px;

}

img[alt*="Service"] ~ p {

	overflow: hidden;
}

.gallery > .column{
	width: 23%;
	margin: 0 1%; /*(shortcut for margin: 0 1% 0 1%;)*/
	border-color: black;

}
img[alt*="Gallery"]{
	display: block;
	border: 1px solid black;
	width: 100%;
	height: 100px;

}

/*img[alt*="Social"]{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	float: left;


}*/
img[alt*="Social"]{
	display: block;
	border: 1px solid black;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;

}
div.contact{
	float: right;
}
div.logo{
	margin-bottom: 20px;
}

/*mobile*/
@media only screen and (max-width: 400px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		width: 400px;
		/*position: relative;*/
	}
	nav{
		position: relative;
		/*margin: 0 auto;*/
		width: 100%;
	}
	.services .column{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.services img[alt*=Service]{
		margin: 0;
	}
	.gallery .column{
		width: 100%;
		margin: 10px;
		float: left;
		padding: 0;
	}
	main{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.about p{
		margin: 10px 0;

	}


}


/*tablet*/

@media only screen and (min-width: 401px) and (max-width: 960px){
	nav{
		position: absolute;
		float: left;
		height: 100%;
	}


	.services .column{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.gallery .column{
		width: 38%;
		margin: 10px;
		float: left;
		padding: 0;
		overflow: hidden;
		text-overflow: hidden;
	}

}



/*laptop/destop*/
@media only screen and (min-width: 961px){
	nav{
		position: absolute;
		float: left;
	}

	.about p{
		margin: 10px 0;

	}
	.services .column{
		margin: 0;
		padding: 0;
	}
	.gallery .column{
		margin: 6px;
		padding: 0;
	}
}
